$primary-max-width: 240rem; // 3840px
$secondary-max-width: 160rem; // 2560px
$primary-min-width: 20rem; // 320px
$secondary-desktop-width: 80%;
$secondary-mobile-width: 95%;
$primary-color: #000000;
$secondary-color: #ffffff;
$primary-text-color: #0f1525;
$secondary-text-color: #ff533d;
$light-text-color: #ffffff;
$dark-text-color: #000000;
$a-link-hover-color: #4c4c4c;
$primary-border-color: #4c4c4c;
$secondary-border-color: #ffffff;
$bootstrap-icon-color: #7952b3;
$nodejs-icon-color: #215732;

$primary-font-family: 'Libre Baskerville', serif;
$secondary-font-family: 'Lato', sans-serif;

$section-background-color: #191919;
$hero-section-background-color: rgba(0, 0, 0, 0.6);
$section-line-separate-color: #5e5e5e;
$hero-section: 100vh;
$hero-section-min-height: 35rem;
