:root{
    --base-size: 3.5;
}

/* font-size: calc(1rem * var(--base-size)); */

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
    color:#ffffff;
}

h1{
    font-size: calc(1rem * var(--base-size));
    margin-bottom: calc(0.2rem * var(--base-size));
}

p{

    font-size: calc(0.5rem * var(--base-size));
}

.main-container{
    max-width: 240rem; /* 3840px */
    min-width: 20rem; /* 320px */
    margin: 0 auto;
    /* border: 2px solid red; */
}

.section{
    padding-top: calc(2rem * var(--base-size));
    /* border: 2px solid purple; */
}

footer{
    background-color: #5e5e5e;
}

.section-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    width:80%;
    max-width: 160rem; /* 2560px */
    margin: 0 auto;
    padding: calc(1.5rem * var(--base-size)) 0 calc(4rem * var(--base-size)) 0;
    /* border: 2px solid orange; */
}

.footer-container{
    width:80%;
    margin:0 auto;
    max-width: 160rem; /* 2560px */
    padding: calc(0.8rem * var(--base-size)) 0;

    /* border: 2px solid green; */
}

.section-container::after{
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    border-bottom: 2px solid #5e5e5e;

}

.hero-section{
    position: relative;
    height:100vh;
    /* min-height:800px; */
    
    background-image: url('./hero-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top:0;
    z-index: 1;
}

.second-section{
    
    background-color:#191919;
}

.third-section{
    background-color:#191919;
}

.hero-section::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    /* border: 2px solid yellow; */
}

.hero-section .section-container{
    flex-direction: column;
    grid-gap: 0;
    height:100%;
    padding:0;
}

.hero-section .section-container::after{
    display: none;
}

.hero-section header{
    display: flex;
    /* border: 2px solid green; */
}

.hero-section header .logo-container{
    display: flex;
    align-items: center;
    width:20%;
    /* border: 2px solid blue; */
}

.hero-section header .logo-container img{
    width:18%;
    min-width: 55px;
    color:#ffffff;
}

.hero-section header nav {
    display: flex;
    justify-content: flex-end;
    width:80%;
    /* border: 2px solid blue; */
}

.hero-section header nav ul{
    display: flex;

}

.hero-section header nav li{
    padding: calc(1rem * var(--base-size));
    list-style: none;
}

.hero-section header nav li:last-child{
    padding-right:0;
}

.hero-section header nav li a{
    color: #fff;
    font-size: calc(0.6rem * var(--base-size));
    text-decoration: none;
    cursor: pointer;
}

.hero-mobile-nav{
    display: none;
    /* border: 2px solid blue; */
}

.hero-mobile-nav span{
    color: #ffffff;
    cursor: pointer;
}

.hero-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    /* border: 2px solid green; */
}

.hero-info::after{
    content: "\2662";
    position: absolute;
    bottom:calc(2rem * var(--base-size));
    left:50%;
    color:#ffffff;
    font-size: calc(1.7rem * var(--base-size));
    opacity: 0.4;
    animation: blink 1s infinite;
    cursor: pointer;
}


@keyframes blink {
    from{
        opacity: 0;
        transform: translateY(0);
    }
    to{
        opacity: 0.4;
        transform: translateY(50px);
    }
}

.hero-info h1{
    color: #ffffff;
    font-size: calc(2.5rem * var(--base-size));
}

.hero-info p{
    max-width:calc(30rem * var(--base-size));
    color: #ffffff;
    font-size: calc(0.8rem * var(--base-size));
}

.hero-info-btns{
    display: flex;
    justify-content: space-between;
    max-width:calc(20rem * var(--base-size));
    padding-top: calc(0.7rem * var(--base-size))
}

.hero-info-btns button{
    width:45%;
    font-size: calc(0.7rem * var(--base-size));
    padding: calc(0.2rem * var(--base-size));
    color:#ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    outline:none;
    cursor: pointer;
}

.article{
    width:32%;
    /* calc */
    padding: calc(0.8rem * var(--base-size));
    text-align: center;
    border: calc(0.2rem * var(--base-size)) solid #5e5e5e;;
}

.about-image{
    width:45%;
    /* border: 2px solid green; */
}

.about-image img{
    width:100%;
}

.about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 45%;
    /* border: 2px solid green; */
}

.footer-container .logo-container, .footer-container .year-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid pink; */
}

.footer-container .logo-container{
    margin-bottom:calc(0.3rem * var(--base-size))
}


.footer-container .year-container span{
    color: #ffffff;
    font-size: calc(0.5rem * var(--base-size));
    font-weight: bold;
}

.footer-container .logo-container img{
    width:5%;
    min-width: 40px;
}

@media only screen and (max-width: 160rem){
    /* 2560px */
    :root{
        --base-size: 2.8;
    }

}

@media only screen and (max-width: 130rem){
    /* 2080px */
    .section-container{
        flex-wrap: wrap;
        grid-gap: calc(0.5rem * var(--base-size));
    }

    .article{
        width:48%;
    }
}

@media only screen and (max-width: 120rem){
    /* 1920px */
    :root{
        --base-size: 2.2;
    }

    .article{
        width:32%;
    }

}

@media only screen and (max-width: 87.5rem){
    /* 1400px */

    .hero-section header .logo-container img {
        width: 30%;
    }

    .hero-info h1{
        font-size: calc(2rem * var(--base-size));
    }
    
    .hero-info p{
        max-width:calc(22rem * var(--base-size));
        font-size: calc(0.8rem * var(--base-size));
    }

    .second-section .section-container{
        flex-direction: column;
    }

    .about-image, .about-info{
        width:100%;
    }

    .article{
        width:calc(50% - (0.5rem * var(--base-size)));
    }

}

@media only screen and (max-width: 64rem){
    /* 1024px */
    :root{
        --base-size: 1.8;
    }

    .hero-section header nav{
        display: none;
    }

    .hero-section header .logo-container img {
        width: 35%;
    }

     .hero-mobile-nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 80%;
        padding: calc(0.5rem * var(--base-size));
        padding-right:0;
        font-size: calc(1.4rem * var(--base-size));
    }

    .hero-info{
        align-items: center;
        text-align: center;
    }

    .hero-info-btns{
        width:100%;
    }

    .article{
        width:100%;
    }

}

@media only screen and (max-width: 41.5rem){
    /* 667px */
    .section-container{
        width:95%;
    }

    .hero-info h1{
        font-size: calc(1.5rem * var(--base-size));
    }
    
    .hero-info p{
        font-size: calc(0.7rem * var(--base-size));

    }

    .hero-info-btns{
        flex-direction: column;
        align-items: center;
        grid-gap: calc(0.4rem * var(--base-size));
    }

    .hero-info-btns button{
        width:90%;
    }

}

