*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Temp */
*{
    color: #e5e5e5;
}
.logo-container, .hero-desktop-nav, .hero-mobile-nav{
    /* border: 2px solid green; */
}
/* Temp */

h1{
    margin:0;
    font-family: 'Roboto', sans-serif;

}

p{
    margin:0;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.main-container{
    max-width: 240rem; 
    min-width: 20rem;
    margin:0 auto;
}

.hero-section{
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: 35rem;
    background-image: radial-gradient(circle, rgba(255,255,255,0.1), rgba(0,0,0,0.5), rgba(0,0,0,1)), url('./laptop-code.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    /* border: 2px solid red; */
}

.hero-section::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: 35rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-section .section-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width:90%;
    height:100%;
    max-width: 160rem;
    margin:0 auto;

    /* border: 2px solid purple; */
}

/* Hero section header */
.hero-section .section-container header{
    position: absolute;
    display:flex;
    width:100%;
    padding-top: 1.4rem;
    z-index: 1;
    /* border: 2px solid orange; */
}

.hero-section .section-container header .hero-desktop-nav{
    display: none;
}

.hero-section .section-container header .logo-container{
    padding-top:0.5rem;
    flex: 1;
}

.hero-section .section-container header img{
    width: 3.5rem;
}

.hero-section .section-container header .hero-mobile-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
}

.hero-section .section-container header span{
    font-size: 2.5rem;
    cursor: pointer;
}


/* Hero section hero-info */
.hero-section .section-container .hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    /* border: 2px solid orange; */
}

.hero-section .section-container .hero-info h1{
    width:100%;
    /* margin-bottom: 0.2rem; */
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    /* border: 2px solid green; */
}

.hero-section .section-container .hero-info p{
    width:100%;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.2;
    /* border: 2px solid green; */
}

.hero-section .section-container .hero-info .hero-info-btns{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
}

.hero-section .section-container .hero-info button{
    width: 95%;
    padding:0.5rem 1rem;
    background-color:transparent;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    outline:none;
    cursor: pointer;
    border-radius: 0.4rem;
    border: 2.5px solid #fff;
}

.hero-section .section-container .hero-info .about-me-btn{
    margin-bottom:1rem;
}


@media only screen and (min-width: 33.75rem) {
    /* 540px */
    .hero-section .section-container .hero-info .hero-info-btns{
        flex-direction: row;
        justify-content: space-around;
    }

    .hero-section .section-container .hero-info button{
        width: 47%;
    }

    .hero-section .section-container .hero-info .about-me-btn{
        margin-bottom:0;
    }
}

@media only screen and (min-width: 48rem) {
    /* 768px */
    .hero-section .section-container .hero-info h1{
        font-size: 5rem;
    }

    .hero-section .section-container .hero-info p{
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }

    .hero-section .section-container .hero-info .hero-info-btns{
        justify-content: space-evenly;
    }

    .hero-section .section-container .hero-info button{
        width: 40%;
        padding:0.6rem 1rem;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 56.25rem) {
    /* 900px */
    .hero-section .section-container{
        width:80%;
    }
    .hero-section .section-container .hero-info h1{
        font-size: 7rem;
        max-width: 49rem;
    }
    
    .hero-section .section-container .hero-info p{
        font-size: 1.5rem;
        max-width: 49rem;
    }
    
    .hero-section .section-container .hero-info .hero-info-btns{

        max-width: 49rem;
    }

    .hero-section .section-container .hero-info button{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 64rem) {
    /* 1024px */
    .hero-section .section-container header img{
        width: 3.8rem;
    }

    .hero-section .section-container header .hero-desktop-nav{
        display: flex;
        justify-content: flex-end;
        flex: 4;
    }

    .hero-section .section-container header ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: 2px solid pink; */
    }

    .hero-section .section-container header li{
        padding-right: 3rem;
        list-style: none;
    }

    .hero-section .section-container header li:last-child{
        padding-right: 0;
    }

    .hero-section .section-container header a{
        font-size: 1.2rem;
    }

    .hero-section .section-container header .hero-mobile-nav{
        display: none;
    }

}

@media only screen and (min-width: 87.5rem) {
    /* 1400px */
    .hero-section .section-container .hero-info{
        position: relative;
        overflow: hidden;
    }
    .hero-section .section-container .hero-info::after{
        content: '\2771';
        position: absolute;
        bottom:0;
        left: 50%;
        margin-bottom: 3.5rem;
        font-size: 2.5rem;;
        animation: blink 1s infinite;
        cursor: pointer;

    }

    @keyframes blink {
        0%{
            opacity: 0;
            transform: translate(-50%, 0) rotate(90deg);
        }
    
        10%{
            opacity: 0.1;
        }
    
        30%{
            opacity: 0.2;
        }
    
        50%{
            opacity: 0.4;
        }
    
        70%{
            opacity: 0.6;
        }
    
        90%{
            opacity: 0.8;
        }
    
        100%{
            opacity: 0.9;
            transform: translate(-50%, 20%) rotate(90deg);
        }
    };
}

@media only screen and (min-width: 121rem) {
    /* 1936px */
    .hero-section .section-container .hero-info::after{
        font-size: 3rem;;

    }

    .hero-section .section-container header img{
        width: 4.5rem;
    }

    .hero-section .section-container header a{
        font-size: 1.5rem;
    }

    .hero-section .section-container .hero-info h1{
        font-size: 7rem;
        max-width: 57rem;
    }
    
    .hero-section .section-container .hero-info p{
        font-size: 1.7rem;
        max-width: 57rem;
    }
    
    .hero-section .section-container .hero-info .hero-info-btns{
        max-width: 57rem;
    }

    .hero-section .section-container .hero-info button{
        font-size: 1.7rem;
    }

}

@media only screen and (min-width: 161rem) {
    /* 2576px */
    .hero-section .section-container header {
        padding-top: 3rem;
    }

    .hero-section .section-container header .logo-container {
        padding-top: 1rem;
    }

    .hero-section .section-container header img{
        width: 6.5rem;
    }

    .hero-section .section-container header li{
        padding-right: 5rem;
    }

    .hero-section .section-container header a{
        font-size: 2.5rem;
    }

    .hero-section .section-container .hero-info h1{
        font-size: 15rem;
        max-width: 87rem;
    }
    
    .hero-section .section-container .hero-info p{
        margin-bottom: 3.8rem;
        max-width: 87rem;
        font-size: 2.5rem;
        line-height: 1.4;
    }

    .hero-section .section-container .hero-info::after{
        font-size: 4.5rem;

    }
    
    .hero-section .section-container .hero-info .hero-info-btns{
        max-width: 87rem;
    }

    .hero-section .section-container .hero-info button{
        width: 45%;
        padding: 1rem 1rem;
        font-size: 2.5rem;
    }
}