extends layout

block content
    div.about-page-main-container
        h1 About this site...
        h3 A site that you can:
        p - 
            span [Create] 
            | Create a new book and store it in a database.
        p - 
            span [Read] 
            | keep track of what books you have using a database.
        p - 
            span [Update] 
            | Update an existing book that was already in the database.
        p - 
            span [Delete] 
            | Delete an existing book from the database.
        a.button(href="/books") See all the books

